{
  "presets": [
    [
      "env"
      // {
      //   "targets": {
      //     "node": "current"
      //   }
      // }
    ],
    "react"
  ]
  // "plugins": ["@babel/preset-env", "@babel/plugin-syntax-dynamic-import"]
}
